Source: wrs-headers-installer
Section: devel
Priority: extra
Maintainer: Robert Blair Mason Jr. <rbmj@verizon.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/rbmj/wrs-headers-installer
Vcs-Git: git://github.com/rbmj/wrs-headers-installer.git
Vcs-Browser: https://github.com/rbmj/wrs-headers-installer

Package: wrs-headers-installer
Architecture: all
Depends: ${misc:Depends}, wget
Provides: wrs-headers-installer
Description: Dummy Package to provide WindRiver IP for VxWorks
 This package downloads, installs, and configures the WindRiver
 Intellectual Property needed perform builds targeting VxWorks 6.3.
 Though the download scripts provided in the dummy package are free,
 the files installed in the download process are NON-FREE.
