Source: powerpc-wrs-vxworks-wrs-ip
Section: unknown
Priority: extra
Maintainer: Robert Blair Mason Jr. <rbmj@verizon.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/powerpc-wrs-vxworks-wrs-ip.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/powerpc-wrs-vxworks-wrs-ip.git;a=summary

Package: powerpc-wrs-vxworks-wrs-ip
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
